{% block widget_css %}
{% endblock %}
{% block prewidget %}
{% endblock %}
<div class="{% block class %}{% endblock %} {{ class }} widget" id="{{ widget_id }}">
{% block widget %}
{% endblock %}
</div>
{% block widget_js %}
{% endblock %}
{% block postwidget %}
{% endblock %}